body{
background:#eef2f7;
font-family:Arial;
}

.header{

background:linear-gradient(90deg,#0d6efd,#6610f2);
color:white;
padding:15px;

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{
font-weight:bold;
font-size:18px;
}

.hamburger{
background:none;
border:none;
color:white;
font-size:26px;
}

.sideMenu{

position:fixed;
right:-320px;
top:0;

width:320px;
height:100%;

background:white;

padding:25px;

transition:0.3s;

box-shadow:-4px 0 12px rgba(0,0,0,0.2);

}

.sideMenu.open{
right:0;
}

.dashboardCard{

padding:20px;

text-align:center;

border-radius:12px;

box-shadow:0 5px 12px rgba(0,0,0,0.1);

}

#rumahBelumBayar span{

margin:4px;

}

.blok{

display:flex;
flex-wrap:wrap;

}

.rumah{

width:40px;
height:40px;

border-radius:6px;

background:#e9ecef;

display:flex;
align-items:center;
justify-content:center;

margin:3px;

font-size:12px;

}

.rumah.lunas{
background:#28a745;
color:white;
}

.actionButtons{

display:flex;

flex-wrap:wrap;

gap:10px;

margin-top:30px;

}
