body{

font-family:Arial;
background:#111;
color:white;
margin:0;

}

.loginBox{

width:350px;
margin:120px auto;
padding:30px;
background:#1c1c1c;
border-radius:10px;

}

select,input,button{

width:100%;
padding:12px;
margin-top:10px;

}

header{

display:flex;
justify-content:space-between;
padding:15px;
background:#000;

}

.dashboard{

display:flex;
gap:20px;
padding:20px;

}

.card{

background:#1c1c1c;
padding:20px;
border-radius:10px;
width:200px;

}

#sideMenu{

position:fixed;
right:-260px;
top:0;
width:260px;
height:100%;
background:#222;
padding:20px;
transition:0.3s;

}
